<div class="landingpage">
        <div class="landingpage__header">
                   <img src="../../assets/images/new-logo.svg" height="50" width="75">
        </div>
        <div class="container landingpage__body">
                <div class="row m-0 landingpage__body__form">
                        <input type="text" class="landingpage__body__form__input" placeholder="Enter your mobile number">
                        <span class="landingpage__body__form__prefix">91</span>
                </div>
        </div>
    
</div>